@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.ellipsisTable {
    width: 100%;
}

.ellipsisTd{
	max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsisLi{
	max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

textarea { 
	height: auto; 
}

.glavni {
	text-align: center;
	margin-top: -15px;
	font-family: Times New Roman;
}

.box {
	margin-top: 5px;
	margin-left: 12%;
	margin-right: 12%;
	margin-bot: 0%;
	background-color: #F5F5F5;
	padding: 10px;
}

.stranica {
	background-color: #E6E6FA;
	height: 35px;
	padding: 5px;
	margin-top: 5px;
	text-align: left;
	color: #00BFFF;
	font-size: 18px;
	font-weight: bold;
}

.naslov {
	color: green;
	font-weight: bold;
	font-size: 17px;
}

.telo {
	margin-top: 5px;
	text-align: justify;
	font-size: 16px;
	background-color: #F5F5F5;
	margin-bot: 0%;
}

.buducnost {
	padding: 10px;
	padding-left: 12px;
	margin-top: 5px;
	background-color: #F5F5F5;
	text-align: center;
	font-size: 16px;
}

.popoverDiv {
	position: absolute ; 
	z-index: 100;
	background-color: #33CCCC;
	font-color:white;
	border-radius:5px;
	opacity: 0.7;
	width:40% !important;
	height:10% !important;
	}	

.slika {
	width: 100%;
	height: 40%;
}

@media only screen and (max-width: 850px) {
	.nav {
	font-size: 12px;
	}
	.popoverDiv {
		height:20% !important;
	}
}

@media only screen and (max-width: 768px) {
	.box {
		margin-left: 10%;
		margin-right: 10%;
	}
	.popoverDiv {
		display:none;
	}
	.inputEditField {
		width: 90px;
	}
	.table {
	 	border: 0 !important;
	}
}

@media only screen and (max-width: 480px) {
	.slika {
		display: none !important;
	}
	.box {
		margin: 0%;
		width: 100%;
	}
	.telo {
		font-size: 14px;
	}
	.table {
		font-size: 14px;
	}
	.stranica {
		font-size: 16px;
	}
	.naslov {
		font-size: 15px;
	}
}

.formMargin {
	padding:3%;
}

.commentDiv{
	padding-left: 3%;
}
